<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS Training</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>body{padding-top: 50px;}, starter-template{padding: 40px 15px; text-align: center;} </style>
</head>

<body>

    <div ng-include="'views/navbar.html'"></div>
    <div class="container">
        <div class="starter-template" ng-controller="nameController">
            <div class="input-group">
                <label for="firstName"> First Name
                    <input type="text" placeholder="Enter your first name" ng-model="firstName">
                </label>
            </div>
            <div class="input-group">
                <label for="lastName"> Last Name
                    <input type="text" placeholder="Enter your last name" ng-model="lastName">
                </label>
            </div>
            <h1>Hello, {{printName()}}</h1>
            <ng-view></ng-view>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="js/aboutCtrl.js"></script>
    <script src="js/contactCtrl.js"></script>
</body>
</html>
